@import url(https://fonts.googleapis.com/css?family=Roboto:900,500,400italic,500italic,700,700italic,300,300italic);

.main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%;
}

.title {
    font-size: 4.75rem;
    font-family: 'Roboto Slab';
}

.footer {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 15%;
    border-top: 1px solid #1F1F1F;
}

/* ./component/About/Aboutme.js */

.aboutme {
    font-size: 1.1rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 2rem;
}

.subtitle {
    font-size: 1.125rem;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.06rem;
}

.resumeButton {
    color: #8F8F8F;
    font-size: 22px;
}

/* ./component/About/Aboutme.js */

/* ./component/About/Gallery.js */

.imageBlock {
    background-color: #ECECEC;
    height: 300px
}

/* ./component/About/Gallery.js */

/* ./component/About/Experience.js */

.experienceTitle {
    font-size: 25px;
    font-family: 'Roboto Slab';
    text-align: left;
    line-height: 8rem;
}

.jobTitle {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Roboto';
}

.jobDetail {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: 'Roboto';
}

/* ./component/About/Experience.js */