/* ./pages/index.js */

.main1 {
    margin-left: 6%;
    margin-right: 6%
}

.buttonViewAllProjects {
    font-family: 'Roboto';
    font-size: 22px;
    color: #8F8F8F;
    font-weight: 300
}

.main2 {
    background-color: #F5F5F5;
}

.main3 {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    border-top: 1px solid #1F1F1F;
}

.viewLink {
    font-family: 'Roboto';
    color:#8F8F8F;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.viewLink:hover {
    font-family: 'Roboto';
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
}

/* ./pages/index.js */

/* ./component/Home/Banner.js */

.banner {
    font-family: 'Roboto Slab';
    font-size: 2.5rem;
    line-height: 3.25rem;
}

.banner2 {
    font-family: 'Roboto';
    font-size: 1.25rem;
}

/* ./component/Home/Banner.js */

/* ./component/Home/Showcase.js */

.showcaseBlock {
    margin-top: 8px
}

.showcaseBox {
    background-color: #F5F5F5;
    height: 500px
}

.showcaseBox2 {
    background-color: #1F1F1F;
    height: 500px;
    z-index: 2;
}

.img {
    width: 100%;
    height: 100%;
}

.titleOnHover {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    font-family: 'Roboto';
    line-height: 20px;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
}

.title2OnHover {
    font-size: 2rem;
    color: white;
    font-weight: 400;
    font-family: 'Roboto Slab';
    line-height: 44px;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 0;
}

.capImage {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* ./component/Home/Showcase.js */

/* ./component/Home/Writings.js */

.writingsTitle {
    font-size: 4.2rem;
    font-family: 'Roboto Slab';
    font-weight: 400;
    line-height: 5rem;
}

.articleBlock {
    padding-left: 0;
    padding-right: 0;
    color: #1F1F1F;
    font-size: 2rem;
    height: 100%;
}

.articleContent {
    border-top: 1px solid #B8B8B8;
    padding-top: 1rem;
    height: 17rem;
}

.imageBlock {
    background-color: #F5F5F5;
    height: 60%
}

/* ./component/Home/Writings.js */

/* ./component/Home/Funfacts.js */

.funFactsTitle {
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5rem;
    font-family: 'Roboto Slab';
    text-align: center;
}

.buttonKnowMoreAboutMe {
    text-align: center;
}

.funFactsContent {
    font-size: 1.125rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

.funFactImg {
    width: 100%;
    opacity: 0.3;
    filter: grayscale(50%);
}

.funFactImgOnHover {
    width: 100%;
    opacity: 1;
}

/* ./component/Home/Funfacts.js */
