/* ./pages/index.js */

.main1 {
    margin-left: 6%;
    margin-right: 6%
}

.buttonViewAllProjects {
    font-family: 'Roboto';
    font-size: 22px;
    color: #8F8F8F;
    font-weight: 300
}

.main2 {
    background-color: #F5F5F5;
    padding-left: 6%;
    padding-right: 6%;
}

.main3 {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    border-top: 1px solid #1F1F1F;
}

.viewLink {
    font-family: 'Roboto';
    color:#8F8F8F;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.viewLink:hover {
    font-family: 'Roboto';
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
}

/* ./pages/index.js */

/* ./component/Home/Header.js */

.title {
    font-family: 'Roboto Slab';
    font-size: 32px;
}

.menuBar {
    display: inline;
    text-align: right;
}

.link {
    text-decoration: none; 
}

.drawerButton {
    margin-top: 1.5rem;
    width: 100%
}

/* ./component/Home/Header.js */

/* ./component/Home/Banner.js */

.banner {
    font-family: 'Roboto Slab';
    font-size: 2rem
}

.banner2 {
    font-family: 'Roboto';
    font-size: 1rem;
}

/* ./component/Home/Banner.js */

/* ./component/Home/Showcase.js */

.showcaseBlock {
    margin-top: 8px
}

.showcaseBox {
    background-color: #F5F5F5;
    height: 500px
}

.showcaseBox2 {
    background-color: #1F1F1F 90%;
    height: 500px;
    z-index: 2;
}

.img {
    width: 100%;
    height: 100%;
}

.titleOnHover {
    font-size: 14px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto';
    line-height: 20px;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
}

.title2OnHover {
    font-size: 32px;
    color: white;
    font-weight: 400;
    font-family: 'Roboto Slab';
    line-height: 44px;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* ./component/Home/Showcase.js */

/* ./component/Home/Writings.js */

.writingsTitle {
    font-size: 76px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    line-height: 90px;
}

.writingsTitle2 {
    font-size: 50px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    line-height: 70px;
}

.articleBlock {
    border-top: 1px solid #B8B8B8;
    padding-left: 0;
    padding-right: 0;
    color: #1F1F1F;
    font-size: 2rem;
    height: 100%
}

.imageBlock {
    background-color: #F5F5F5;
    height: 60%
}

/* ./component/Home/Writings.js */

/* ./component/Home/Funfacts.js */

.funFactsTitle {
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5rem;
    font-family: 'Roboto Slab';
    text-align: center;
}

.buttonKnowMoreAboutMe {
    text-align: center;
}

.funFactsContent {
    font-size: 1.2rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.galleryBlock1 {
    background-color: rgb(255, 77, 77);
    height: 350px
}

.galleryBlock2 {
    background-color: rgb(255, 153, 102);
    height: 350px
}

.galleryBlock3 {
    background-color: rgb(255, 235, 153);
    height: 350px
}

.galleryBlock4 {
    background-color: rgb(179, 255, 179);
    height: 350px
}

/* ./component/Home/Funfacts.js */

/* ./component/Home/Footer.js */

.footerBlock {
    padding-top: 3%;
}

.footerBlock2 {
    margin-top: 2%;
}

.footerTitle {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06rem;
}

.copyright {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 16px;
}

.footerLeftTitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.footerLeftContent {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* ./component/Home/Footer.js */
