/* ./pages/index.js */

.main1 {
    margin-left: 6%;
    margin-right: 6%
}

.buttonViewAllProjects {
    font-family: 'Roboto';
    font-size: 22px;
    color: #8F8F8F;
    font-weight: 300
}

.main2 {
    background-color: #F5F5F5;
}

.main3 {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    border-top: 1px solid #1F1F1F;
}

.viewLink {
    color:#8F8F8F;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2%;
}

.viewLink:hover {
    color: black;
    font-size: 22px;
    letter-spacing: 2%;
}

/* ./pages/index.js */

/* ./component/Home/Header.js */

.title {
    font-family: 'Roboto Slab';
    font-size: 32px
}

.menuBar {
    display: inline;
}

.link {
    margin-left: 20px;
    font-size:22px
}

/* ./component/Home/Header.js */

/* ./component/Home/Banner.js */

.banner {
    font-family: 'Roboto Slab';
    font-size: 40px
}

.banner2 {
    font-family: 'Roboto';
    font-size: 18px
}

/* ./component/Home/Banner.js */

/* ./component/Home/Showcase.js */

.showcaseBlock {
    margin-top: 8px
}

.showcaseBox {
    background-color: #F5F5F5;
    height: 500px
}

.img {
    width: 100%;
    height: 100%;
}

/* ./component/Home/Showcase.js */

/* ./component/Home/Writings.js */

.writingsTitle {
    font-size: 76px;
}

.articleBlock {
    border-top: 1px solid #B8B8B8;
    padding-left: 0;
    padding-right: 0;
    color: #1F1F1F;
    font-size: 36px;
}

.imageBlock {
    background-color: #FFFFFF;
    height: 400px
}

/* ./component/Home/Writings.js */

/* ./component/Home/Funfacts.js */

.funFactsTitle {
    font-size: 48px;
    font-family: 'Roboto Slab';
    text-align: center;
}

.buttonKnowMoreAboutMe {
    text-align: center;
}

.funFactsContent {
    font-size: 18px;
}

.galleryBlock1 {
    background-color: rgb(255, 77, 77);
    height: 350px
}

.galleryBlock2 {
    background-color: rgb(255, 153, 102);
    height: 350px
}

.galleryBlock3 {
    background-color: rgb(255, 235, 153);
    height: 350px
}

.galleryBlock4 {
    background-color: rgb(179, 255, 179);
    height: 350px
}

/* ./component/Home/Funfacts.js */

/* ./component/Home/Footer.js */

.footerBlock {
    padding-top: 3%;
}

.footerBlock2 {
    margin-top: 2%;
}

.footerTitle {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 700;
}

.copyright {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
}

/* ./component/Home/Footer.js */
