@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


a {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0 !important;
    overflow-x:hidden;
    max-width: 100%;
}

html {
    overflow-x: hidden;
}

.title{
    font-family: 'Work Sans', sans-serif;
    color:"blue";
    font-family:"Inter";
    font-size:"60px"
}

.MuiFormHelperText-root {
    color: red !important;
    font-size: 1rem !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #1f1f1f !important;
}

.MuiOutlinedInput-root.Mui-focused
.MuiOutlinedInput-notchedOutline {
    border-color: #1f1f1f !important;
}