
.main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%
}

.title {
    font-family: 'Roboto Slab';
    font-size: 72px;
    font-weight: 400;
}

/* ./component/Work/Showcase.js */

.showcaseBlock {
    margin-top: 1%
}

.showcaseBox {
    background-color: #F5F5F5;
    height: 500px
}

.agodaLogo {
    margin-top: 25%;
    margin-left: 30%
}

/* ./component/Work/Showcase.js */

/* ./pages/Work/Agoda-flights/index.js */

.header {
    background-color: #F5F5F5;
}

/* ./pages/Work/Agoda-flights/index.js */

.footer {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    border-top: 1px solid #1F1F1F;
}