@import url(https://fonts.googleapis.com/css?family=Roboto:900,500,400italic,500italic,700,700italic,300,300italic);


.main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%
}

.title {
    font-family: 'Roboto Slab';
    font-size: 4.75rem;
    font-weight: 400;
}

/* ./component/Work/Showcase.js */

.showcaseBox {
    background-color: #F5F5F5;
    height: 500px
}

.img {
    width: 100%;
    height: 100%;
}

.titleOnHover {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    font-family: 'Roboto';
    line-height: 20px;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
}

.title2OnHover {
    font-size: 2rem;
    color: white;
    font-weight: 400;
    font-family: 'Roboto Slab';
    line-height: 44px;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 0;
}

.capImage {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* ./component/Work/Showcase.js */

/* ./component/Work/AgodaFlights.js */

.title2 {
    font-family: 'Roboto Slab';
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.title3 {
    font-family: 'Roboto Slab';
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 60px
}

.title4 {
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.article {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.content {
    padding-left: 8%;
    padding-right: 8%;
}

.contentTitle {
    font-family: 'Roboto';
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 20px;
    color: #8F8F8F;
}

.contentDetail {
    font-family: 'Roboto';
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 20px;
    color: #1F1F1F;
}

.dotLine {
    font-size: 2rem;
    font-weight: 300;
}

.designHighlight {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.08rem;
    color: #8F8F8F;
}

.designHighlightTitle {
    font-family: 'Roboto Slab';
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: #1F1F1F;
}

.designHighlightContent {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    color: #1F1F1F;
}

.boldContent {
    letter-spacing: 0.08rem;
    font-weight: 700;
}

.gallery1 {
    background-color: #F5F5F5;
    box-shadow: rgb(0, 0, 0, 10%) 0px 2px 8px;
}

.imgDescription {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #1F1F1F;
}

.imgDescription2 {
    font-family: 'Roboto';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1F1F1F;
}

.imgDescriptionLink {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

.reflection {
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: #1F1F1F;
    text-align: center;
}

.dotAlign {
    text-align: center;
    padding-top: 0.25rem;
}

.scrollDown {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0.05rem;
    color: #8F8F8F;
    text-align: center;
}

/* ./component/Work/AgodaFlights.js */

/* ./component/Work/Progress01.js */

.progressMain {
    background-color: #F5F5F5;
}

.progressTitle1 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #1F1F1F;
    letter-spacing: .08rem;
}

.progressTitle2 {
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: #1F1F1F;
}

.competitiveAnalysisTitle1 {
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #8F8F8F;
}

.competitiveAnalysisTitle2 {
    font-family: 'Roboto Slab';
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: #1F1F1F;
}

.competitiveAnalysisContent {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #1F1F1F;
}

.imgDescription2 {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1F1F1F;
}

.researchTitle {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.08rem;
    color: #1F1F1F;
}

.collectInsightContent {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #1F1F1F;
}

.process2Img {
    margin-Left: 6%;
    margin-right: 6%;
    height:40rem;
    margin-top: 3%;
}

.imgDescription3 {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1F1F1F;
    word-wrap:break-word;
}

/* ./component/Work/Progress01.js */

.imgBlock {
    padding-right: 4rem;
    padding-left: 4rem;
}

/* ./component/Work/Progress02.js */

/* ./component/Work/Progress02.js */

/* ./component/Writing/Secure.js */

.description {
    font-family: 'Roboto';
    font-size: 1rem; 
 }
 
.password {
    margin-top: 5%;
    margin-bottom: 15%
}
 
 /* ./component/Writing/Secure.js */

/* ./pages/Work/Agoda-flights/index.js */

.header {
    background-color: #F5F5F5;
}

.img01 {
    background-color: #F5F5F5;
    padding-top: 2%;
}

.bannerImg {
    width: 100%
}

/* ./pages/Work/Agoda-flights/index.js */

.footer {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    border-top: 1px solid #1F1F1F;
}

/* ./component/Work/Design.js */

.designContent {
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    color: #1F1F1F;
}

.designTitle {
    font-family: 'Roboto Slab';
    font-size: 2rem;
    font-weight: 400;
    line-height: 44px;
    color: #1F1F1F;
}

/* ./component/Work/Design.js */

/* ./component/Work/Kinjo */

.caption {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: #1F1F1F;
}

.imgShadow {
    box-shadow: rgb(0, 0, 0, 10%) 0px 2px 8px;
    width: 100%; 
    margin-bottom: 1rem;
}

.captionForKinjo {
    font-family: 'Roboto';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1F1F1F;
    padding-left: 8%;
    padding-right: 8%;
}

.nextStep {
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: #1F1F1F;
}

.dotAlignKinjo {
    text-align: center;
}

/* ./component/Work/Kinjo */

/* ./component/Work/Vue */

/* ./component/Work/Vue */

/* ./component/Work/Gigbird */

.gigbirdCaption {
    color: #8F8F8F;
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
}

/* ./component/Work/Gigbird */